weight filter=lfs diff=lfs merge=lfs -text
weight/resnet50_fold0_BestModel.pth filter=lfs diff=lfs merge=lfs -text
resnet50_fold0_BestModel.pth filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
